.navigation {
    background-color: #6b4423;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navigation ul li {
    display: inline;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #ffd700;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
  }
  
  .navigation ul li a:hover {
    background-color: #8b4513;
  }
  
  .navigation ul li a.active {
    font-weight: bold;
    color: #000;
    background-color: #ffd700;
  }
  