.dark-theme {
    background-color: #474234; /* Цвет фона */
    color: #001466; /* Цвет текста */
    /* Дополнительные стили для темной темы */
  }
  
  /* Дополнительные стили для других элементов */
  .dark-theme h1 {
    color: #473034; /* Цвет заголовков */
  }
  
  .dark-theme a {
    color: #001466; /* Цвет ссылок */
  }